<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>批量导入</title>
	</head>
	<body>
		<div style="padding:10px 20px;">提示：因格式需求，需要您下载'一个Excel模板,然后上传文件；若您已有模板请直接上传文件。'
	       <br/>
	       <input id="importExcel" name="excel"style="margin-top:30px;" type="file" name="excel"/>
		</div>
		<div>
			<button>上传</button><button>取消</button>
			
		</div>
	</body>
</html>
