<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>add</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/core/js/layui/css/layui.css"  media="all">
</head>
<body>
<form class="layui-form" action="">
    <div>
        <input id="id" name="id"  />

                           
                                          
            <div class="layui-form-item">
                <label id="cid_label" class="layui-form-label">认证资质用户ID</label>
                <div class="layui-input-inline">
                    <input type="text" id="cid" name="cid"  autocomplete="off" class="layui-input">
                </div>
            </div>
                                        
            <div class="layui-form-item">
                <label id="pid_label" class="layui-form-label">认证资质产品id</label>
                <div class="layui-input-inline">
                    <input type="text" id="pid" name="pid"  autocomplete="off" class="layui-input">
                </div>
            </div>
                                        
            <div class="layui-form-item">
                <label id="validTime_label" class="layui-form-label">有效期时间</label>
                <div class="layui-input-inline">
                    <input type="text" id="validTime" name="validTime"  lay-verify="required" placeholder="please input validTime"  autocomplete="off" class="layui-input">
                </div>
            </div>
                                        
            <div class="layui-form-item">
                <label id="createTime_label" class="layui-form-label">创建时间</label>
                <div class="layui-input-inline">
                    <input type="text" id="createTime" name="createTime"  lay-verify="required" placeholder="please input createTime"  autocomplete="off" class="layui-input">
                </div>
            </div>
                           
        <div>
            <button id="addConfirm" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="addbtn">Confirm</button>
            <button id="addCancel" type="layui-btn" class="layui-btn layui-btn-primary">Cancel</button>
        </div>
    </div>
</form>
</body>

<script src="../../../core/js/jquery-1.9.0.min.js"></script>
<script src="../../../core/js/i18next.js"></script>

<script src="../../../js/jquery.cookie.min.js"></script>
<script src="../../../js/language.init.js"></script>
<script src="/core/js/layui/layui.js" charset="utf-8"></script>

<script src="/js/common.js"></script>
<script src="/js/geProductCuserRel/editGeProductCuserRel.js"></script>

<script type="text/javascript">
    add.init()
</script>
</html>